<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.houtai.mapper.SysDeptMapper">
    <!---查询-->
    <select id="getDeptAll" resultType="com.study.houtai.po.SysDept">
        select * from sys_dept
    </select>
</mapper>